anaconda_projects/db/project_filebrowser.db
.ipynb_checkpoints/cleaned_booking_data-checkpoint.csv
.ipynb_checkpoints/Data_preprocessing_booking-checkpoint.ipynb
.ipynb_checkpoints/Model_creation_booking-checkpoint.ipynb
